@using BHJet_Admin.Models
@model ResumoModel

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/Scripts/jquery.counterup.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#"></a></li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="titulo">
                        <h2>
                            <a onclick=" history.go(-1);">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            Dashboard BHJet
                        </h2>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-md-12">
                            <div class="col-xs-12 col-sm-5 col-lg-3">
                                <a href="@Url.Action("ExibeLocalizacao", "Dashboard", new { tipoSolicitacao = BHJet_Enumeradores.DashboardTipoDisponivelEnum.ChamadoAguardandoMotociclista })">
                                    <div class="small-box bg-bhjet-blue-d">
                                        <div class="inner">
                                            <h3><span class="counter"> @Html.Label(Model.ChamadosAvulsosAguardandoMoto.ToString())</span></h3>
                                            <h6>Chamados avulsos aguardando motociclistas</h6>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-bag"></i>
                                        </div>
                                        <span class="small-box-footer bg-bhjet-blue-d2">Ver detalhes <i class="fa fa-arrow-circle-right"></i></span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-5 col-lg-3">
                                <a href="@Url.Action("ExibeLocalizacao", "Dashboard", new { tipoSolicitacao = BHJet_Enumeradores.DashboardTipoDisponivelEnum.ChamadoAguardandoCarros })">
                                    <div class="small-box bg-bhjet-blue-l">
                                        <div class="inner">
                                            <h3><span class="counter">@Html.Label(Model.ChamadosAvulsosAguardandoCarro.ToString())</span></h3>
                                            <h6>Chamados avulsos aguardando carros</h6>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-bag"></i>
                                        </div>
                                        <span class="small-box-footer bg-bhjet-blue-l2">Ver detalhes <i class="fa fa-arrow-circle-right"></i></span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-5 col-lg-3">
                                <a href="@Url.Action("ExibeLocalizacao", "Dashboard", new { tipoSolicitacao = BHJet_Enumeradores.DashboardTipoDisponivelEnum.MotociclistaDisponivel })">
                                    <div class="small-box bg-bhjet-blue-pu">
                                        <div class="inner">
                                            <h3><span class="counter">@Html.Label(Model.MotociclistasDisponiveis.ToString())</span></h3>
                                            <h6>Motociclistas disponíveis</h6>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-bag"></i>
                                        </div>
                                        <span class="small-box-footer bg-bhjet-blue-pu2">Ver detalhes <i class="fa fa-arrow-circle-right"></i></span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12 col-sm-5 col-lg-3">
                                <a href="@Url.Action("ExibeLocalizacao", "Dashboard", new { tipoSolicitacao = BHJet_Enumeradores.DashboardTipoDisponivelEnum.MotoristaDisponivel })">
                                    <div class="small-box bg-bhjet-blue-pi">
                                        <div class="inner">
                                            <h3><span class="counter">@Html.Label(Model.CarrosDisponiveis.ToString())</span></h3>
                                            <h6>Carros disponíveis</h6>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-bag"></i>
                                        </div>
                                        <span class="small-box-footer bg-bhjet-blue-pi2">Ver detalhes <i class="fa fa-arrow-circle-right"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-12">
                            <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                                <div class="box bg-bhjet-blue-l3 ">
                                    <div class="box-title">
                                        <label for="exampleInputAmount">Serviço Avulso</label>
                                    </div>
                                    <br class="visible-md visible-lg" />

                                    @*href="@Url.Action("Index", "HomeExterno")"*@
                                    <a id="btnOSAV" class="btn btn-default btn-sm">
                                        Abrir uma OS avulsa
                                    </a>

                                    <a type="submit" class="btn btn-default btn-sm"
                                       href="@Url.Action("CadastroDiariaAvulsa", "Dashboard")">
                                        Diária Avulsa
                                    </a>
                                    <p class="visible-xs"></p>
                                    <button class="btn btn-default btn-sm" style="cursor:no-drop; background-color: #e1e1e1" type="submit">Visualizar agendamentos</button>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                                <div class="box bg-bhjet-blue-l3 ">

                                    <label for="exampleInputAmount">Localizar Corrida</label>
                                    @using (Html.BeginForm("OSCliente", "Dashboard", FormMethod.Get, new { @class = "form-inline" }))
                                    {

                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                                @Html.TextBoxFor(model => model.PesquisaOSCliente, new { @class = "form-control", @type = "number" })
                                            </div>
                                            <button type="submit" class="btn btn-default" value="Pesquisar">
                                                <i class="fa fa-share">  Pesquisar</i>
                                            </button>
                                        </div>
                                        <br />
                                        @Html.ValidationMessageFor(model => model.PesquisaOSCliente, null, new { @class = "text-warning", @type = "number" })
                                    }

                                    <label for="exampleInputAmount">Localizar Motociclista / Motorista</label>
                                    @using (Html.BeginForm("ExibeLocalizacao", "Dashboard", new { tipoSolicitacao = BHJet_Enumeradores.DashboardTipoDisponivelEnum.FuncionarioDisponivel }, FormMethod.Post, new { @class = "form-inline" }))
                                    {
                                        @Html.ValidationSummary(true);
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                                @Html.TextBoxFor(model => model.PesquisaMotociclista, new { @class = "form-control", @type = "number", maxlength = "10" })
                                            </div>
                                            <button type="submit" class="btn btn-default" value="Pesquisar">
                                                <i class="fa fa-share">  Pesquisar</i>
                                            </button>
                                        </div>
                                        <br />
                                        @Html.ValidationMessageFor(model => model.PesquisaMotociclista, null, new { @class = "text-warning" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="box bg-bhjet-blue-l3 ">
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="box bg-bhjet-blue-l3 ">
                                <canvas id="canvasz"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="mdCliente" class="modal fade" style="margin-top: 10%;" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color: white;" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Selecione o cliente</h4>
            </div>
            <div class="modal-body text-right">

                <div class="row">
                    <label class="control-label col-md-12" for="email"><small class="obrigatorio">*</small>Selecione o cliente para abrir OS Avulsa:</label>
                </div>
                
                <div class="row">
                    <div class="form-group ">
                        <div class="col-sm-12">
                            <input id="pesquisaCliente" class="form-control input-sm" placeholder="Digite o código ou nome do cliente." />
                            @Html.DropDownList("Cliente", new List<SelectListItem>(), new { @id = "ClienteSelecionado", @class = "form-control", @placeholder = "Selecione um cliente." })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="closeMsgGeral" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (TempData["mensagemGeral"] != null)
{
    <input type="hidden" id="mensagemController" value="@TempData["mensagemGeral"].ToString()" />
    <script type="text/javascript">

		window.onload = function () {
			var mensagem = $("#mensagemController").val();
            $("#msgModal").text(mensagem)
            $("#imgMensagem").attr("src", "@TempData["imgMensagemGeral"]");
            $('#myModal').modal('show')
        };
    </script>
}
<script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="~/Scripts/Utilitario.js"></script>
<script src="~/Scripts/IndexAdmin.js"></script>