@{
    Layout = null;
    ViewContext.FormContext = new FormContext();
}

@using BHJet_Admin.Models
@model LoginModel

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="@Url.Content("~/Scripts/Login.js")"></script>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
</head>
<body class="bodyLogin">

    <div class="ctnlogin" style="background-image: url('@Url.Content("~/Images/bgLogin.jpg")";">

        <div class="ctnLoginPainel text-center">

            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" src="@Url.Content("~/Images/logoLogisticaPreto.jpg")" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                    {

                        <div class="form-group">
                            <div class="col-sm-12 text-left">
                                <i class="fa fa-user" aria-hidden="true"> Usuário</i>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Login, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 text-left">
                                <i class="fa fa-key" aria-hidden="true">Senha</i>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.Senha, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.Senha, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="btnLogar" type="submit" class="loginbtn">Entrar</button>
                            </div>
                        </div>
                    }

                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("Registrar", "Home")" style="color: #f6f6f6; text-decoration: none; BACKGROUND-COLOR: #322f2f; PADDING: 10PX; BORDER-RADIUS: 5PX; MARGIN-TOP: 50PX;" class="">
                        <i class="fa fa-address-card" aria-hidden="true"> </i> Registrar conta BHJet
                    </a>
                </div>
            </div>   <br />

            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("RecuperarSenha", "Home")" style="color: #f6f6f6; text-decoration: none; BACKGROUND-COLOR: #9a3030; PADDING: 10PX; BORDER-RADIUS: 5PX; MARGIN-TOP: 50PX;" class="">
                        <i class="fa fa-unlock-alt" aria-hidden="true"> </i> Esqueci minha senha
                    </a>
                </div>
            </div>

            <br/>

            <p class="text-danger">
                <b>
                    @if (!string.IsNullOrWhiteSpace(@ViewBag.ErroLogin))
                    {
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @ViewBag.ErroLogin
                    }
                </b>
            </p>

            <p class="text-success">
                <b>
                    @if (!string.IsNullOrWhiteSpace(@ViewBag.SucessoLogin))
                    {
                        <i class="fa fa-check-circle" aria-hidden="true"></i> @ViewBag.SucessoLogin
                    }
                </b>
            </p>

        </div>

        @{
            Html.RenderPartial("~/Views/Shared/_Loading.cshtml");
        }

    </div>



</body>
</html>