
@using BHJet_Usuario.Models.Entregas
@using BHJet_Enumeradores
@model EntregaModel

@Scripts.Render("~/bundles/jqueryval")
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

<script src="~/Scripts/owl.carousel.js"></script>

@*<script src="C:\Users\LEOZI\Downloads\OwlCarousel2-2.3.4\docs\assets\vendors\jquery.min.js"></script>*@
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsLOayqVHkWA29P5c2P98nkKcSZERTd0w"></script>
<script type="text/javascript" src="~/Scripts/GoogleMapsBHJet.js"></script>
<script type="text/javascript" src="~/Scripts/Destinos.js"></script>


@using (Html.BeginForm("Index", "Entregas", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div>
        <div id="map_canvas">
        </div>

        <div id="draggable" class="ui-widget-content">

            <div id="ctnInicio">
                <div class="cts-titulo-side-bar">
                    <span class="titulo">Solicitar entrega / serviço</span>
                    <span class="iconeLeft"><i class="fa fa-arrows-alt" aria-hidden="true"> Arraste o painel.</i></span>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div id="ctnOrigemTitulo" class="cts-subtitulo-side-bar">
                                <span class="titulo">Origem</span>
                                <span class="iconeLeft"><i id="iconeExpandeOrigem" class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>

                            <div id="ctnOrigem" class="ctnEntregaInterno">
                                <div class="container">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="titulo" for="txtEnderecoPartida">Origem:</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Enderecos[0].Descricao, new { @id = "txtEnderecoPartida", @class = "cst-endereco-maps", placeholder = "Digite o endereço." })
                                        </div>
                                        <div class="col-md-2">
                                            <label class="titulo" for="txtEnderecoPartida">Procurar:</label>
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Enderecos[0].ProcurarPessoa, new { @id = "txtEnderecoPartida", @class = "cst-endereco-maps", placeholder = "Digite o endereço." })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="titulo" for="txtEnderecoPartida">Obs:</label>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.LabelFor(model => model.Enderecos[0].TipoOcorrencia, new { @id = "txtEnderecoPartida", @class = "cst-endereco-maps", placeholder = "Digite o endereço." })
                                            @Html.LabelFor(model => model.Enderecos[0].Observacao, new { @id = "txtEnderecoPartida", @class = "cst-endereco-maps", placeholder = "Digite o endereço." })
                                        </div>
                                    </div>

                                    @Html.HiddenFor(model => model.Enderecos[0].Longitude)
                                    @Html.HiddenFor(model => model.Enderecos[0].Latitude)

                                    <hr />

                                </div>
                            </div>
                        </div>
                    </div>


                    <div>
                       
                    </div>

                </div>

                <div class="owl-carousel owl-theme">
                    @for (int i = 1; i <= Model.Enderecos.Count() - 1; i++)
                    {
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="cts-subtitulo-side-bar">
                                            <span class="titulo">Destino @i</span>
                                            <span class="titulo subtitulo">Quantidade de destinos: @i</span>
                                            <span class="iconeLeft"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                                        </div>

                                        <div class="ctnEntregaInterno">
                                            <div class="container">
                                                <div class="row">
                                                    <label class="titulo" for="txtEnderecoPartida">Endereço:</label>
                                                </div>
                                                @Html.TextBoxFor(model => model.Enderecos[i].Descricao, new { @id = "txtEnderecoPartida", @class = "cst-endereco-maps", placeholder = "Digite o endereço." })
                                                @Html.ValidationMessageFor(model => model.Enderecos[0].Descricao, null, new { @class = "text-danger" })

                                                @Html.HiddenFor(model => model.Enderecos[i].Longitude)
                                                @Html.HiddenFor(model => model.Enderecos[i].Latitude)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="ctnEntregaInterno">
                                            <div class="container">
                                                <div class="row">
                                                    <label class="titulo" for="">Pessoa a ser procurada:</label>
                                                </div>
                                                @Html.TextBoxFor(model => model.Enderecos[i].ProcurarPessoa, new { @class = "cst-endereco-maps", placeholder = "Digite o nome do destinatário." })
                                                @Html.ValidationMessageFor(model => model.Enderecos[i].ProcurarPessoa, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="ctnEntregaInterno">
                                            <div class="container">
                                                <div class="row">
                                                    <label class="titulo" for="">O que deve ser feito:</label>
                                                </div>
                                                <div class="row">
                                                    @foreach (var tipoEnum in Enum.GetValues(typeof(TipoOcorrenciaCorrida)))
                                                    {
                                                        var id = TagBuilder.CreateSanitizedId(string.Format("{0}_{1}_{2}", "rdbtn", typeof(RegimeContratacao), tipoEnum));
                                                        @Html.RadioButtonFor(s => s.Enderecos[i].TipoOcorrencia, tipoEnum, new { id, @class = "option-input radio" })
                                                        @Html.Label(tipoEnum.ToString(), new { @for = id, @style = "vertical-align: sub;" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.Enderecos[i].TipoOcorrencia, null, new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="ctnEntregaInterno">
                                            <div class="container">
                                                <div class="row">
                                                    <label class="titulo" for="">Observação:</label>
                                                </div>
                                                <div class="row">
                                                    @Html.TextAreaFor(model => model.Enderecos[i].Observacao, new { @class = "cst-endereco-maps", @style = "height: 70px;"})
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div>
                    <input type="submit" class="btnSolicitacao" id="btnEnviar" name="btnEnviar" style="margin:10px" value="Adicionar destino" />
                </div>

            </div>

        </div>

    </div>
}

