
@using BHJet_Usuario.Models.Entregas
@using BHJet_Enumeradores
@model PagamentoModel

@Scripts.Render("~/bundles/jqueryval")
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
<script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
<script src="@Url.Content("~/Scripts/owl.carousel.js")"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsLOayqVHkWA29P5c2P98nkKcSZERTd0w"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GoogleMapsBHJet.js")"></script>

<div>
    <div id="map_canvas">
    </div>
    <div id="draggable" class="ui-widget-content">
        <div id="ctnInicio">
            @using (Html.BeginForm("Pagamento", "Pagamento", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="cts-titulo-side-bar">
                    <span class="titulo">Solicitar entrega / serviço</span>
                    <span class="iconeLeft"><i class="fa fa-arrows-alt" aria-hidden="true"> Arraste o painel.</i></span>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cts-subtitulo-side-bar">
                                <span class="titulo">Pagamento</span>
                                <span class="iconeLeft"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                            </div>
                            <div id="ctnOrigem" class="ctnEntregaInterno">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="titulo" for="txtEnderecoPartida">Digite seu nome idêntico ao cartão de crédito:</label>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => model.NomeCartaoCredito, new { placeholder = "Nome no cartão." })
                                            @Html.ValidationMessageFor(model => model.NomeCartaoCredito, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="titulo" for="txtEnderecoPartida">Número do cartão de crédito:</label>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => model.NumeroCartaoCredito, new { placeholder = "Número no cartão." })
                                            @Html.ValidationMessageFor(model => model.NumeroCartaoCredito, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="titulo" for="txtEnderecoPartida">Válidade:</label>
                                            @Html.TextBoxFor(model => model.Validade, new { placeholder = "Número no cartão." })
                                            @Html.ValidationMessageFor(model => model.Validade, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="titulo" for="txtEnderecoPartida">Código de verificação:</label>
                                            @Html.TextBoxFor(model => model.CodigoVerificacao, new { placeholder = "Número no cartão." })
                                            @Html.ValidationMessageFor(model => model.CodigoVerificacao, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="ctnOrigemTitulo" class="cts-subtitulo-side-bar">
                            <span class="titulo">Valor Estimado: </span> <h3 class="total">
                                @{
                                    if (Model.ValorTotal != null)
                                    {
                                        Model.ValorTotal.Value.ToString("C", new System.Globalization.CultureInfo("pt-BR"));
                                    }
                                }
                            </h3>
                            <input type="submit" class="btnConfirmacao" id="btnEnviar" name="btnEnviar" style="padding: 1px 10px !important;" value="Confirmar" />
                        </div>
                    </div>
                </div>
                <hr />
                if (Model.NumeroOS != null)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ctnOrigemTitulo" class="cts-subtitulo-side-bar">
                                <span class="titulo">OS: </span> <h3 class="total">@Model.NumeroOS</h3>
                                <br/>
                                <span>Guarde o número da OS para acompanhar sua entrega/serviço.</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>