@using System.Web.Http
@using BHJet_Admin.Models


<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">Home</a></li>
	<li><a href="#map_canvas">@ViewBag.TituloSolicitacao</a></li>
</ol>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="titulo">
						<h2>
							<a href=" @Url.Action("Index", "Home")">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>
							</a>
							@ViewBag.TituloSolicitacao
						</h2>
					</div>

					<div id="map_canvas">
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

@if (TempData["mensagemGeral"] != null)
{
	<input type="hidden" id="mensagemController" value="@TempData["mensagemGeral"].ToString()" />
	<script type="text/javascript">

		window.onload = function () {
			var mensagem = $("#mensagemController").val();
            $("#msgModal").text(mensagem)
            $("#imgMensagem").attr("src", "@TempData["imgMensagemGeral"]");
            $('#myModal').modal('show')
        };
	</script>
}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsLOayqVHkWA29P5c2P98nkKcSZERTd0w"></script>
<script type="text/javascript" src="~/Scripts/GoogleMapsBHJet.js"></script>
<script type="text/javascript" src="~/Scripts/ExibeLocalizacao.js"></script>
