@using BHJet_Admin.Models.Dashboard
@model OSClienteModel

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
    <li><a href="#map_canvas">Detalhe OS Cliente </a></li>
</ol>

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="titulo">
                                <h2>
                                    <a onclick=" history.go(-1);">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                    </a>
                                    <b>OS Nº: </b> @Model.NumeroOS - <b>Cliente:</b> @Model.Cliente - <b>Motorista:</b> @Model.Motorista
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <h5 class="control-label col-xs-12 col-sm-12 bg-light-gray text-center labelChave">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Origem
                        </h5>
                    </div>

                    <ul class="timeline">
                        <li>
                            <i class="fa fa-map-marker bg-blue"></i>
                            <div class="timeline-item">
                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label labelChave bg-light-gray ">Origem:</label>
                                    <label class="control-label labelValor">@Model.Origem.EnderecoOrigem</label>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label labelChave bg-light-gray">Procurar por:</label>
                                    <label class="control-label labelValor">@Model.Origem.ProcurarPessoa</label>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label labelChave bg-light-gray">Realizar:</label>
                                    <label class="control-label labelValor">@Model.Origem.Realizar</label>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label labelChave bg-light-gray">Status:</label>
                                    <label class="control-label labelValor">@Model.Origem.Status</label>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label labelChave bg-light-gray">Observação:</label>
                                    <label class="control-label labelValor">@Model.Origem.Observacao</label>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label labelChave bg-light-gray">Espera:</label>
                                    <label class="control-label labelValor">@Model.Origem.Espera</label>
                                </div>

                                <div class="col-xs-12 col-md-12">
                                    <label class="control-label labelChave bg-light-gray">Foto Registro:</label>
                                    <label class="control-label labelValor"><i class="fa fa-camera" aria-hidden="true"> Clique aqui</i></label>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="row">
                        <h5 class="control-label col-xs-12 col-sm-12 bg-light-gray text-center labelChave">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>Destinos
                        </h5>
                    </div>

                    <ul class="timeline">

                        @foreach (OSClienteEnderecoModel dest in @Model.Desinos)
                        {
                            <li>
                                <i class="fa fa-location-arrow bg-blue"></i>
                                <div class="timeline-item">
                                    <div class="col-md-12">
                                        <label class="control-label labelChave bg-light-gray ">Origem:</label>
                                        <label class="control-label labelValor">@dest.EnderecoOrigem</label>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="control-label labelChave bg-light-gray">Procurar por:</label>
                                        <label class="control-label labelValor">@dest.ProcurarPessoa</label>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="control-label labelChave bg-light-gray">Realizar:</label>
                                        <label class="control-label labelValor">@dest.Realizar</label>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="control-label labelChave bg-light-gray">Status:</label>
                                        <label class="control-label labelValor">@dest.Status</label>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <label class="control-label labelChave bg-light-gray">Observação:</label>
                                        <label class="control-label labelValor">@Model.Origem.Observacao</label>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="control-label labelChave bg-light-gray">Espera:</label>
                                        <label class="control-label labelValor">@dest.Espera</label>
                                    </div>

                                    <div class="col-xs-12 col-md-12">
                                        <label class="control-label labelChave bg-light-gray">Foto Registro:</label>
                                        <label class="control-label labelValor"><i class="fa fa-camera" aria-hidden="true"> Clique aqui</i></label>
                                    </div>

                                </div>
                            </li>
                            <hr />
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
