
@using BHJet_Usuario.Models.Entregas
@using BHJet_Enumeradores
@model EntregaModel

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div>
        <div id="map_canvas">
        </div>

        <div id="draggable" class="ui-widget-content">

            <div id="ctnInicio">
                <div class="cts-titulo-side-bar">
                    <span class="titulo">Solicitar entrega / serviço</span>
                    <span class="iconeLeft"><i class="fa fa-arrows-alt" aria-hidden="true"> Arraste o painel.</i></span>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="ctnEntregaInterno">
                                <div class="container">
                                    <div class="row">
                                        <label class="titulo" for="txtEnderecoPartida">Origem:</label>
                                    </div>
                                    @Html.TextBoxFor(model => model.Enderecos[0].Descricao, new { @id = "txtEnderecoPartida", @class = "cst-endereco-maps", placeholder = "Digite o endereço." })
                                    @Html.ValidationMessageFor(model => model.Enderecos[0].Descricao, null, new { @class = "text-danger" })

                                    @Html.HiddenFor(model => model.Enderecos[0].Longitude)
                                    @Html.HiddenFor(model => model.Enderecos[0].Latitude)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="ctnEntregaInterno">
                                <div class="container">
                                    <div class="row">
                                        <label class="titulo" for="txtEnderecoPartida">Pessoa a ser procurada:</label>
                                    </div>
                                    @Html.TextBoxFor(model => model.Enderecos[0].ProcurarPessoa, new { @class = "cst-endereco-maps", placeholder = "Digite o nome do destinatário." })
                                    @Html.ValidationMessageFor(model => model.Enderecos[0].ProcurarPessoa, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="ctnEntregaInterno">
                                <div class="container">
                                    <div class="row">
                                        <label class="titulo" for="txtEnderecoPartida">O que deve ser feito:</label>
                                    </div>
                                    <div class="row">
                                        @foreach (var tipoEnum in Enum.GetValues(typeof(TipoOcorrenciaCorrida)))
                                        {
                                            var id = TagBuilder.CreateSanitizedId(string.Format("{0}_{1}_{2}", "rdbtn", typeof(RegimeContratacao), tipoEnum));
                                            @Html.RadioButtonFor(s => s.Enderecos[0].TipoOcorrencia, tipoEnum, new { id, @class = "option-input radio" })
                                            @Html.Label(tipoEnum.ToString(), new { @for = id, @style = "vertical-align: sub;" })
                                        }
                                        @Html.ValidationMessageFor(model => model.Enderecos[0].TipoOcorrencia, null, new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="btnSolicitacao" id="btnEnviar" name="btnEnviar" value="Adicionar destino" />
                    </div>

                </div>

                <div id="trajeto-texto" style="height: 300px; width: 200px"></div>
            </div>

        </div>

    </div>
}

<script>
    $(function () {
        $("#draggable").draggable();
    });

        //$(document).ready(function () {
        //    //$(".btnSolicitacao").click(function () {
        //    //    $("#ctnInicio").fadeOut("slow");
        //    //    $("#ctnSecundario").fadeIn("slow");
        //    //});
        //});

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsLOayqVHkWA29P5c2P98nkKcSZERTd0w"></script>
    <script type="text/javascript" src="~/Scripts/GoogleMapsBHJet.js"></script>
    <script type="text/javascript" src="~/Scripts/Origem.js"></script>

