
@using BHJet_Admin.Models
@using BHJet_Enumeradores
@using BHJet_Admin.Infra
@model EntregaModel

@Scripts.Render("~/bundles/jqueryval")
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
<link rel="stylesheet" href="~/Content/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
<script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
<script src="@Url.Content("~/Scripts/owl.carousel.js")"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBsLOayqVHkWA29P5c2P98nkKcSZERTd0w&language=pt&region=PT"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/GoogleMapsBHJet.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Resumo.js")"></script>

<div>
    <div id="map_canvas">
    </div>
    <div id="draggable" class="ui-corrida-content">

        <div id="ctnInicio">
            @using (Html.BeginForm("Resumo", "Entregas", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="cts-titulo-side-bar">
                    <span class="titulo">Solicitar entrega / serviço</span>
                    <span class="iconeLeft"><i class="fa fa-arrows-alt" aria-hidden="true"> Arraste o painel.</i></span>
                </div>

                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div id="ctnOrigemTitulo" class="cts-subtitulo-side-bar">
                                <span class="titulo">Origem</span>
                                <span class="iconeLeft"><i id="iconeExpandeOrigem" class="fa fa-plus" aria-hidden="true"></i></span>
                            </div>

                            <div id="ctnOrigem" class="ctnEntregaInterno">
                                <div class="">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="titulo" for="txtEnderecoPartida">Origem:</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Model.Enderecos[0].Descricao
                                        </div>
                                        <div class="col-md-2">
                                            <label class="titulo" for="txtEnderecoPartida">Procurar:</label>
                                        </div>
                                        <div class="col-md-2">
                                            @Model.Enderecos[0].ProcurarPessoa
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.IDCliente)
                                    @Html.HiddenFor(model => model.ProfissionalSelecionado)
                                    @Html.HiddenFor(model => model.TipoProfissional)
                                    @Html.HiddenFor(model => model.Enderecos[0].Descricao)
                                    @Html.HiddenFor(model => model.Enderecos[0].ProcurarPessoa)
                                    @Html.HiddenFor(model => model.Enderecos[0].Observacao)
                                    @Html.HiddenFor(model => model.Enderecos[0].TipoOcorrencia)
                                    @Html.HiddenFor(model => model.Enderecos[0].Longitude)
                                    @Html.HiddenFor(model => model.Enderecos[0].Latitude)

                                    <hr />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                    </div>
                </div>

                <hr />

                for (int i = 1; i <= Model.Enderecos.Count() - 1; i++)
                {
                    <div class="">
                        <div class="row">
                            <div class="col-12">
                                <div id="ctnOrigemTitulo" class="cts-subtitulo-side-bar">
                                    <span class="titulo">Destino @i</span>
                                    <span class="iconeLeft"><i id="iconeExpandeOrigem" class="fa fa-location-arrow" aria-hidden="true"></i></span>
                                </div>

                                <div id="ctnOrigem" class="ctnEntregaInterno">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="titulo" for="txtEnderecoPartida">Origem:</label>
                                            </div>
                                            <div class="col-md-6">
                                                @Model.Enderecos[i].Descricao
                                            </div>
                                            <div class="col-md-2">
                                                <label class="titulo" for="txtEnderecoPartida">Procurar:</label>
                                            </div>
                                            <div class="col-md-2">
                                                @Model.Enderecos[i].ProcurarPessoa
                                            </div>
                                        </div>
                                        <div class="row">
                                            @if (string.IsNullOrWhiteSpace(Model.Enderecos[i].Observacao))
                                            {
                                                <div class="col-md-2">
                                                    <label class="titulo" for="txtEnderecoPartida">Obs:</label>
                                                </div>
                                                <div class="col-md-10">
                                                    @Model.Enderecos[i].Observacao
                                                </div>
                                            }
                                        </div>
                                        @Html.HiddenFor(model => model.Enderecos[i].Descricao)
                                        @Html.HiddenFor(model => model.Enderecos[i].ProcurarPessoa)
                                        @Html.HiddenFor(model => model.Enderecos[i].Observacao)
                                        @Html.HiddenFor(model => model.Enderecos[i].TipoOcorrencia)
                                        @Html.HiddenFor(model => model.Enderecos[i].Longitude)
                                        @Html.HiddenFor(model => model.Enderecos[i].Latitude)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                }

                <div class="row">
                    @if (Model.OSNumero == null)
                    {
                        <a href="@Url.Action("Index", "Entregas")" class="btnPadrao btnSolicitacao" style="margin:10px">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Revisar Informações
                        </a>
                    }
                </div>

                if (UsuarioLogado.Instance.BhjTpUsu != null && UsuarioLogado.Instance.BhjTpUsu == TipoUsuario.ClienteAvulsoSite)
                {
                    Html.RenderPartial("~/Views/Pagamento/_Pagamento.cshtml", Model.DadosPagamento);
                }

                <div class="row">
                    <div class="col-md-12">
                        <div id="ctnOrigemTitulo" class="cts-subtitulo-side-bar">
                            <span class="titulo">Distâncîa: </span> <h3 class="total">
                                @Html.LabelFor(model => model.QtdKM, new { @id = "QtdKM" })
                            </h3>

                            <span class="titulo">Valor estimado: </span> <h3 class="total">
                                @if (Model.ValorCorrida != null)
                                {
                                    @Model.ValorCorrida.Value.ToString("C", new System.Globalization.CultureInfo("pt-BR"));
                                }
                            </h3>
                            @if (Model.OSNumero == null)
                            {
                                <input type="submit" class="btnPadrao btnConfirmacao" id="btnEnviar" name="btnEnviar" style="font-size: unset;" value="Chamar BHJet" />
                            }
                        </div>
                    </div>
                </div>

                if (Model.IDCliente != null && Model.OSNumero != null)
                {
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ctnOrigemTitulo" class="cts-subtitulo-side-bar">
                                <h6>Guarde o número da OS para acompanhar sua entrega/servico</h6>

                                <span class="titulo">Número da OS: </span> <h3 class="total">
                                    @Model.OSNumero;
                                </h3>

                                <a style="margin-top: -10px;" class="btnPadrao btnConfirmacao" href="@Url.Action("OSCliente", "Dashboard", new ResumoModel() { PesquisaOSCliente = @Model.OSNumero.ToString()})">
                                    <i class="fa fa-eye" aria-hidden="true"> </i> Detalhar
                                </a>
                                @*<input type="submit" class="btnPadrao btnConfirmacao" id="btnRdOS" name="btnEnviar" style="font-size: unset;" value="OK" />*@
                            </div>
                        </div>
                    </div>
                }

                @Html.HiddenFor(model => model.QsusasnstsisdsasdsesKsM)
            }
        </div>

    </div>
</div>