@using BHJet_Admin.Models.Clientes
@using BHJet_Core.Enum
@model ClienteModel

@Scripts.Render("~/bundles/jqueryval")

<div class="panel panel-default" style="margin:30px">
	<div class="panel-body">
		<div class="titulo">
			<h2>
				<a onclick="history.go(-1);">
					<i class="fa fa-hashtag" aria-hidden="true"></i>
				</a>
				Valor
			</h2>
		</div>
		<div class="form-row">
			<div class="form-group col-xs-12 col-md-3">
				<label for="txtTipoTarifa">Tipo Tarifa</label>
				<br />
				@foreach (var tipoEnum in Enum.GetValues(typeof(TipoTarifa)))
				{
					var id = TagBuilder.CreateSanitizedId(string.Format("{0}_{1}_{2}", "rdbtn", typeof(TipoTarifa), tipoEnum));
					@Html.RadioButtonFor(s => s.Valor.FirstOrDefault().TipoTarifa, tipoEnum, new { id, @class = "option-input radio" })
					@Html.Label(tipoEnum.ToString(), new { @for = id })
					<br />
				}
				@Html.ValidationMessageFor(model => model.Valor.FirstOrDefault().TipoTarifa, null, new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-xs-12 col-md-2">
				<label for="Valor_ValorUnitario">Valor Unitário</label>
				@Html.TextBoxFor(model => model.Valor.FirstOrDefault().ValorUnitario, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Valor.FirstOrDefault().ValorUnitario, null, new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-xs-12 col-md-3">
				<label>Vigência</label>
				<div class="input-group input-daterange">
					@Html.TextBoxFor(model => model.Valor.FirstOrDefault().VigenciaInicio, new { type = "text", @class = "form-control" })
					<div class="input-group-addon">a</div>
					@Html.TextBoxFor(model => model.Valor.FirstOrDefault().VigenciaFim, new { type = "text", @class = "form-control" })
				</div>
				@Html.ValidationMessageFor(model => model.Valor.FirstOrDefault().VigenciaInicio, null, new { @class = "text-danger" })
				@Html.ValidationMessageFor(model => model.Valor.FirstOrDefault().VigenciaFim, null, new { @class = "text-danger" })
			</div>
			<div class="form-group col-xs-12 col-md-2">
				<label for="txtFranquia">Franquia Km/mês</label>
				@Html.TextBoxFor(model => model.Valor.FirstOrDefault().Franquia, new { type = "text", @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Valor.FirstOrDefault().Franquia, null, new { @class = "text-danger" })
			</div>
			<div class="form-group col-xs-12 col-md-2">
				<label for="txtFranquiaAdicional">Franquia Adicional</label>
				@Html.TextBoxFor(model => model.Valor.FirstOrDefault().FranquiaAdicional, new { type = "text", @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Valor.FirstOrDefault().FranquiaAdicional, null, new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-xs-12 col-md-6">
				<label for="txaObservacoesValor">Observações</label>
				@Html.TextAreaFor(model => model.Valor.FirstOrDefault().Observacao, new { type = "text", @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Valor.FirstOrDefault().Observacao, null, new { @class = "text-danger" })
			</div>
		</div>
	</div>
</div>