@using BHJet_Admin.Models.Clientes
@using BHJet_Enumeradores
@using BHJet_Core.Extension
@model ClienteModel

@Scripts.Render("~/bundles/jqueryval")
<script src="@Url.Content("~/Scripts/ClienteValor.js")"></script>

<script src="https://cdn.rawgit.com/plentz/jquery-maskmoney/master/dist/jquery.maskMoney.min.js"></script>

<style type="text/css">
    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }
</style>

<div class="panel panel-default cst-panel-valor" style="margin:30px">
    <div class="panel-body">
        <div class="titulo">
            <h2>
                <a onclick="history.go(-1);">
                    <i class="fa fa-hashtag" aria-hidden="true"></i>
                </a>
                Contrato
            </h2>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12">
            <div class="row">
                <div class=" col-md-12 col-lg-12">

                    @foreach (var value in Enum.GetValues(typeof(BHJet_Enumeradores.TipoContrato)))
                    {
                        @Html.RadioButtonFor(m => m.Contrato, value)
                        @Html.Label(value.ToString())
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ctnContratoCliente">

    <div class="panel panel-default cst-panel-valor" style="margin:30px">
        <div class="panel-body">
            <div class="titulo">
                <h2>
                    <a onclick="history.go(-1);">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                    </a>
                    Contrato Moto
                </h2>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Valor da diária</label>
                        @Html.TextBoxFor(model => model.ValorMoto.ValorContrato, new { placeholder = "R$", @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorMoto.ValorContrato, null, new { @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Franquia KM</label>
                        @Html.TextBoxFor(model => model.ValorMoto.FranquiaKM, new { @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorMoto.FranquiaKM, null, new { @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Valor KM adicional</label>
                        @Html.TextBoxFor(model => model.ValorMoto.ValorKMAdicional, new { placeholder = "R$", @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorMoto.ValorKMAdicional, null, new { placeholder = "R$", @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Franquia horas</label>
                        @Html.TextBoxFor(model => model.ValorMoto.FranquiaKM, new { @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorMoto.FranquiaKM, null, new { @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Valor hora adicional</label>
                        @Html.TextBoxFor(model => model.ValorMoto.ValorHoraAdicional, new { @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorMoto.ValorHoraAdicional, null, new { @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-12 col-lg-12">
                        <label for="txtNomeFantasia">Observação</label>
                        @Html.TextAreaFor(model => model.ValorMoto.Observacao, new { @class = "form-control", @autocomplete = "off",})
                        @Html.ValidationMessageFor(model => model.ValorMoto.Observacao, null, new { @class = "text-danger", @autocomplete = "off", })
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default cst-panel-valor" style="margin:30px">
        <div class="panel-body">
            <div class="titulo">
                <h2>
                    <a onclick="history.go(-1);">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                    </a>
                    Contrato Carro
                </h2>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="row">
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Valor da diária</label>
                        @Html.TextBoxFor(model => model.ValorCarro.ValorContrato, new { placeholder = "R$", @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorCarro.ValorContrato, null, new { placeholder = "R$", @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Franquia KM</label>
                        @Html.TextBoxFor(model => model.ValorCarro.FranquiaKM, new { @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorCarro.FranquiaKM, null, new { @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Valor KM adicional</label>
                        @Html.TextBoxFor(model => model.ValorCarro.ValorKMAdicional, new { placeholder = "R$", @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorCarro.ValorKMAdicional, null, new { placeholder = "R$", @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Franquia horas</label>
                        @Html.TextBoxFor(model => model.ValorCarro.FranquiaHoras, new { @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorCarro.FranquiaHoras, null, new { @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                    <div class=" col-md-3 col-lg-3">
                        <label for="txtNomeFantasia"><small class="obrigatorio">*</small>Valor hora adicional</label>
                        @Html.TextBoxFor(model => model.ValorCarro.ValorHoraAdicional, new { @class = "form-control", @autocomplete = "off", data_cont = "true" })
                        @Html.ValidationMessageFor(model => model.ValorCarro.ValorHoraAdicional, null, new { @class = "text-danger", @autocomplete = "off", data_cont = "true" })
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-12 col-lg-12">
                        <label for="txtNomeFantasia">Observação</label>
                        @Html.TextAreaFor(model => model.ValorCarro.Observacao, new { @class = "form-control", @autocomplete = "off",  })
                        @Html.ValidationMessageFor(model => model.ValorCarro.Observacao, null, new { @class = "text-danger", @autocomplete = "off",  })
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
