@using System.Web.Http
@using BHJet_Admin.Models
@model TabelaClienteModel

<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">Home</a></li>
	<li><a href="#map_canvas">Clientes</a></li>
</ol>

<div class="container-fluid">

	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="titulo">
						<h2>
							<a onclick="history.go(-1);">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>
							</a>
							Clientes
						</h2>
					</div>
					@using (Html.BeginForm("BuscaCliente", "Clientes", FormMethod.Post, new { id = "formBuscaClientes" }))
					{
						<div class="row">

							<div class="form-group ">
								<label class="control-label col-sm-2" for="email">Selecione ou digite para pesquisar:</label>
								<button type="submit" class="btn btn-default"><i class="fa fa-share"></i></button>
								<div class="col-sm-3">
									<input id="pesquisaCliente" class="form-control input-md" placeholder="Pesquisar por ID/Nome." />

									@Html.ListBoxFor(m => m.ClienteSelecionado,
									  new List<SelectListItem>(), new { @class = "form-control" })
									<b><small>(Ctrl + Click) Para selecionar vários.</small></b>
								</div>

							</div>

						</div>
						<div clss="row">
							<button id="" type="button" class="btn btn-primary pull-left" onclick="location.href='NovoCliente'"><i class="fa fa-plus" aria-hidden="true"></i>Novo Cliente</button>
						</div>

						<div class="row" style="display: none;">
							<div class="col-md-12">
								<div class="table-responsive">
									<br />
									<table class="table table-bordered">
										<thead>
											<tr class="bg-light-gray">
												<th scope="col">Cliente</th>
												<th scope="col">Tipo Contrato</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var linha in @Model.ListModel)
											{
												<tr>
													<td>@linha.NomeRazaoSocial</td>
													<td>@linha.TipoContrato</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

</div>
@if (TempData["mensagemGeral"] != null)
{
	<script type="text/javascript">
            window.onload = function () {
                $("#msgModal").text("@TempData["mensagemGeral"].ToString()")
                $("#imgMensagem").attr("src", "@TempData["imgMensagemGeral"]");
                $('#myModal').modal('show')
            };
	</script>
}
