@using System.Web.Http
@using BHJet_Admin.Models.Clientes
@using BHJet_Core.Enum
@model ClienteModel

<!--VARIÁVEIS INICÍAIS-->
@{
	Session["QTDE_CONTATO"] = null;
	Session["QTDE_VALOR"] = null;

	var edicao = BHJet_Core.Customizavel.MetodoPagina.PaginaEdicao();

	if(edicao)
	{
	}


}

@Scripts.Render("~/bundles/jqueryval")
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="@Url.Content("~/Scripts/jquery.mask.min.js")"></script>
<script src="@Url.Content("~/Scripts/ViaCep.js")"></script>
<script src="@Url.Content("~/Scripts/NovoCliente.js")"></script>

<style type="text/css">
	input, select, textarea {
		font-size: 14px !important;
	}

	a {
		text-decoration: none;
		display: inline-block;
		padding: 8px 16px;
	}

		a:hover {
			background-color: #ddd;
			color: black;
		}

	.previous {
		background-color: #f1f1f1;
		color: black;
	}

	.next {
		background-color: #4CAF50;
	}

	.round {
		border-radius: 50%;
	}
</style>

<script type="text/javascript">
	$(document).ready(function () {
        $("#btnNovoContato").click(function () {
            $.get('@Url.Action("CarregarNovoContato", Model)', { }, function (response) {
				$("#divNovoContato").append(response);
			});
		});

		$("#btnNovoValor").click(function () {
			$.get('@Url.Action("CarregarNovoValor", Model)', {}, function (response) {
				$("#divNovoValor").append(response);
			});
		});
	});
</script>

<ol class="breadcrumb">
	<li><a href="@Url.Action("Index", "Home")">Home</a></li>
	<li><a href="#map_canvas">@ViewBag.MetodoPagina Cliente</a></li>
</ol>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-7 col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="titulo">
						<h2>
							<a onclick="history.go(-1);">
								<i class="fa fa-arrow-left" aria-hidden="true"></i>
							</a>
							@ViewBag.MetodoPagina Cliente
						</h2>
					</div>
					<div class="container-fluid">
						<div id="tabs" style="display: grid; position: relative">
							@using (Html.BeginForm("NovoCliente", "Clientes", FormMethod.Post, new { id = "formNovoCliente" }))
							{
								@Html.HiddenFor(model => model.ID);
								<ul>
									<li><a href="#tabs-1"><i class="fa fa-user" aria-hidden="true"></i>Dados cadastrais</a></li>
									<li><a href="#tabs-2"><i class="fa fa-file-text-o" aria-hidden="true"></i>Contatos</a></li>
									<li><a href="#tabs-3"><i class="fa fa-money" aria-hidden="true"></i>Valores</a></li>
								</ul>

								<div id="tabs-1">
									<div class="panel-body">
										<div class="titulo">
											<h2>
												<a onclick="history.go(-1);">
													<i class="fa fa-id-card-o" aria-hidden="true"></i>
												</a>
												Dados Pessoais
											</h2>
										</div>
										<!--<div class="form-row">
											<div class="form-group col-xs-4 col-md-1">
												<label for="txtCodigo">Código</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.Codigo, new { @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.Codigo, null, new { @class = "text-danger" })
											</div>
										</div>-->
										<div class="form-row">
											<div class="form-group col-xs-12 col-md-12">
												<label for="txtNome">Nome / Razão Social</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.NomeRazaoSocial, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.NomeRazaoSocial, null, new { @class = "text-danger" })
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-xs-12 col-md-12">
												<label for="txtNomeFantasia">Nome Fantasia</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.NomeFantasia, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.NomeFantasia, null, new { @class = "text-danger" })
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-xs-12 col-md-4">
												<label for="txtCpfCnpj">CPF / CNPJ</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.CPFCNPJ, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.CPFCNPJ, null, new { @class = "text-danger" })
											</div>
											<div class="form-group col-xs-12 col-md-6">
												<label for="txtInscricaoEstadual">Insc. Estadual</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.InscricaoEstadual, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.InscricaoEstadual, null, new { @class = "text-danger" })
											</div>
											<!--<div class="form-group col-xs-2 col-md-2">
												<div class="cst-ckb-Novo-Cliente">
													<label for="ckbIss" class="label-cbx">
														<span>ISS</span>
														<input id="ckbIss" type="checkbox" name="ckbIss" class="invisible">
														<div class="checkbox">
															<svg width="20px" height="20px" viewBox="0 0 20 20">
																<path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
																<polyline points="4 11 8 15 16 6"></polyline>
															</svg>
														</div>
													</label>
												</div>
											</div>-->
											<div class="form-group col-xs-12 col-md-2">
												<div class="cst-ckb-Novo-Cliente">
													<label class="label-cbx">
														@Html.CheckBoxFor(model => model.DadosCadastrais.ISS, new { @class = "checkbox" })
														<span>ISS</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="titulo">
											<h2>
												<a onclick="history.go(-1);">
													<i class="fa fa-map-marker" aria-hidden="true"></i>
												</a>
												Endereço
											</h2>
										</div>
										<div class="form-row">
											<div class="form-group col-xs-12 col-md-2">
												<label for="txtCep">CEP</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.CEP, new { @onchange = "if(this.length == 9)alert('ok');", type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.CEP, null, new { @class = "text-danger" })
											</div>
											<div class="form-group col-xs-12 col-md-4">
												<label for="txtEndereco">Endereço</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.Endereco, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.Endereco, null, new { @class = "text-danger" })
											</div>
											<div class="form-group col-xs-12 col-md-2">
												<label for="txtNumeroEndereco">Nº</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.NumeroEndereco, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.NumeroEndereco, null, new { @class = "text-danger" })
											</div>
											<div class="form-group col-xs-12 col-md-3">
												<label for="txtComplemento">Complemento</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.Complemento, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.Complemento, null, new { @class = "text-danger" })
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-xs-12 col-md-4">
												<label for="txtBairro">Bairro</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.Bairro, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.Bairro, null, new { @class = "text-danger" })
											</div>
											<div class="form-group col-xs-12 col-md-4">
												<label for="txtCidade">Cidade</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.Cidade, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.Cidade, null, new { @class = "text-danger" })
											</div>
											<div class="form-group col-xs-12 col-md-2">
												<label for="txtEstado">Estado</label>
												@Html.DropDownListFor(s => s.DadosCadastrais.Estado, new SelectList(Enum.GetValues(typeof(UF))), new { @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.Estado, null, new { @class = "text-danger" })
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="titulo">
											<h2>
												<a onclick="history.go(-1);">
													<i class="fa fa-files-o" aria-hidden="true"></i>
												</a>
												Dados Extras
											</h2>
										</div>
										<div class="form-row">
											<div class="form-group col-xs-12 col-md-12">
												<label for="txaObservacoes">Observações</label>
												@Html.TextAreaFor(model => model.DadosCadastrais.Observacoes, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.Observacoes, null, new { @class = "text-danger" })
											</div>
										</div>
										<div class="form-row">
											<div class="form-group col-xs-12 col-md-6">
												<label for="txtHomePage">Home Page</label>
												@Html.TextBoxFor(model => model.DadosCadastrais.HomePage, new { type = "text", @class = "form-control" })
												@Html.ValidationMessageFor(model => model.DadosCadastrais.HomePage, null, new { @class = "text-danger" })
											</div>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-xs-12 col-md-12">
											<a onclick="Validar(true,false,true)" style="color: white" class="pull-right next">Próximo »</a>
										</div>
									</div>

								</div>
								<div id="tabs-2">
									@{
										Html.RenderPartial("_Contato", Model);
									}
									<div id="divNovoContato"></div>
									<div class="form-row">
										<div class="form-group col-xs-12 col-md-12">
											<button id="btnNovoContato" name="btnNovoContato" class="btn btn-primary pull-right" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Novo Contato</button>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-xs-12 col-md-12">
											<a onclick="AnteriorTab(false,true,true)" style="color: white" class="pull-left next">« Anterior</a>
											<!-- <a id="lnkValidarContato" onclick="Validar(true,true,false)" style="color: white" class="pull-right next">Próximo »</a> -->
											<a id="lnkValidarContato" onclick="ValidarContato() == true ? ProximaTab(true, true, false) : null" style="color: white" class="pull-right next">Próximo »</a>
										</div>
									</div>

								</div>
								<div id="tabs-3">
									@{
										Html.RenderPartial("_Valor", Model);
									}

									<div id="divNovoValor"></div>
									<div class="form-row">
										<div class="form-group col-xs-12 col-md-12">
											<button id="btnNovoValor" name="btnNovoValor" class="btn btn-primary pull-right" type="button"><i class="fa fa-plus" aria-hidden="true"></i>Novo Valor</button>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-12 text-center">
											<button id="btnSubmitFormCliente" onclick="ValidarValor()" type="submit" class="btn btn-default" value="Enviar" disabled="true">
												<i class="fa fa-share"></i>Confirmar Solicitação
											</button>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-xs-12 col-md-12">
											<a onclick="AnteriorTab(true, false, true)" style="color: white" class="pull-left next">« Anterior</a>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@if (TempData["mensagemGeral"] != null)
{
	<script type="text/javascript">
            window.onload = function () {
                $("#msgModal").text("@TempData["mensagemGeral"].ToString()")
                $("#imgMensagem").attr("src", "@TempData["imgMensagemGeral"]");
                $('#myModal').modal('show')
            };
	</script>
}