<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/MenuAdmin.js"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid" style="margin-left: -15px; margin-right: -15px;">
            <div class="navbar-header">

                @*<button id="menuLogisticaMobile" class="navbar-brand menuMobile visible-xs visible-sm visible-md" type="button">*@
                <button id="menuLogisticaMobile" class="navbar-brand menuMobile" type="button">
                    <i class="fa fa-tasks"></i>
                </button>

                <a class="navbar-brand" href="#">
                    <img src="~/Images/logoLogisticaPreto.jpg" class="logo" />
                </a>
            </div>

        </div>
    </nav>

    <div class="main-sidebar">

        <section id="menuLateral" class="sidebar" style="height: auto;">
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">Painel Administrativo</li>
                <li class="active treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-bar-chart"></i> <span>Faturamento</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="@Url.Action("Index", "ChamadoMotociclista" )">
                        <i class="fa fa-address-book"></i> <span>Clientes</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-address-card"></i> <span>Cliente Avulso</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-motorcycle"></i> <span>Motociclista / Motorista</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-wrench"></i> <span>Área de atuação</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-users"></i> <span>Usuários</span>
                    </a>
                </li>
            </ul>
        </section>

    </div>

    <div class="content-wrapper" style="width: 1200px;">
        @RenderBody()
    </div>


    <footer id="footer">
        <strong>Copyright © 2018 - BHJet Express, Logística e serviços.</strong>
    </footer>





    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
