@using BHJet_Admin.Models.Faturamento
@model IEnumerable<DetalheFaturamentoAvulsoRegistros>




<div class="panel panel-default" style="margin:30px">
    <div class="panel-body">
        <div class="titulo">
            <h2>
                <a onclick="history.go(-1);">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </a>
                Itens faturados
            </h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <tr class="bg-light-gray">
                            <th>Data</th>
                            <th>OS</th>
                            <th>Profissional</th>
                            <th>KM</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (DetalheFaturamentoAvulsoRegistros fat in @Model)
                            {
                                <td>@fat.DataCorrida</td>
                                <td class="hidden-xs">@fat.NumeroOS</td>
                                <td class="hidden-xs">@fat.Profissional</td>
                                <td class="hidden-xs">@fat.QuantidadeKM</td>
                                <td class="hidden-xs">@fat.Valor.ToString("C")</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

