@using BHJet_Admin.Models.Faturamento
@model DetalheFaturamentoAvulso

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="">Consultar Faturamento</a></li>
        <li><a href="">Detalhe Faturamento</a></li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="titulo">
                            <h2>
                                <a onclick="history.go(-1);">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                </a>
                                Detalhe Faturamento
                            </h2>
                        </div>

                        <div class="panel panel-default" style="margin:30px">
                            <div class="panel-body">
                                <div class="titulo">
                                    <h2>
                                        <a onclick="history.go(-1);">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        </a>
                                        Cabeçalho
                                    </h2>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-lg-12">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        <label for="txtNome">Cliente: </label>
                                        @Html.Label(Model.Cliente)
                                        <br />
                                        <i class="fa fa-file-o" aria-hidden="true"></i>
                                        <label for="txtNome">Contrato: </label>
                                        @Html.Label(Model.Contrato)
                                        <br />
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        <label for="txtNome">Período: </label>
                                        @Html.Label(Model.PeriodoIntervalo)
                                        <br />
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <label for="txtNome">Data do relatório: </label>
                                        @Html.Label(Model.DataRelatorio.ToLongDateString())
                                    </div>
                                </div>

                                <div class="row">

                                    @{
                                        Html.RenderPartial("_DetalheChamadoAvulso", Model.Registros);
                                    }

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (TempData["mensagemGeral"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                $("#msgModal").text("@TempData["mensagemGeral"].ToString()")
                $("#imgMensagem").attr("src", "@TempData["imgMensagemGeral"]");
                $('#myModal').modal('show')
            };
        </script>
    }
